go 1.24.1

use (
	./apigatewayhelpers
	./apigatewayresponse
	./assert
	./authctxparser
	./cloudfront
	./config
	./converters
	./encryption
	./idempotency
	./logger
	./logs
	./marshalling
	./payloadhelpers
	./photo
	./slicesfunc
	./testhelpers
	./validator
)
