go 1.23.5

use (
	./apigatewayhelpers
	./apigatewayresponse
	./assert
	./authctxparser
	./config
	./converters
	./encryption
	./idempotency
	./logger
	./logs
	./marshalling
	./payloadhelpers
	./photo
	./slicesfunc
	./testhelpers
)
