                 <!-- Footer -->
            <tr>
              <td class="footer" align="center">
                You’re receiving this because you created an account at Booky.<br>
                <a class="link" href="{{unsubscribe_url}}" target="_blank">Unsubscribe</a> • 
                <a class="link" href="https://booky.ph/preferences" target="_blank">Manage preferences</a><br>
                Booky Inc., 123 Anywhere St, City, Country
              </td>
            </tr>

          </table>
        </td>
      </tr>
    </table>
        </div> <!-- container -->
    </body>
</html>