<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{> style }}
    {{> mediaQueries }}
</head>
<body class="bg-body">
    <div class="container">
        <div class="preheader">
            Welcome to Booky! Here’s your quick start and next steps.
        </div>
