                 <!-- Footer -->
            <tr>
              <td class="footer" align="center">
                Copyright© 2025 Scrambled Eggs Software Inc. All rights reserved.
              </td>
            </tr>

          </table>
        </td>
      </tr>
    </table>
        </div> <!-- container -->
    </body>
</html>