        </td>
      </tr>
      <tr>
        <td class="footer">
          Copyright© 2025 Scrambled Eggs Software Inc. All rights reserved.
        </td>
      </td>
    </table>
  </div>
  </body>
</html>  