<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{> style }}
    {{> mediaQueries }}
  </head>
  <body>
  <div class="bg-body">
    <table class="main-container">
      <tr>
        <td class="header">
          <a class="logo-link" href="https://booky.ph">
            <img class="logo" src="{{image 'booky-web-assets,logo-medium-inverse.png,256'}}" alt="Booky">
          </a>
        </td>
      </tr>
      <tr>
        <td class="content">            
                                 